
www/app.config

*.log

*.zip


*.pyc

www/csd_metadata.txt

www/history-rb.txt

www/static/data/rb_metadata.json

www/static/csd_map.html

www/static/data/edp_metadata.json

www/static/data/egraf_metadata.json

www/static/data/egraf_metadata_whitelist.json

www/static/edp_map.html

www/static/eg_map.html

www/static/eg_whitelist_map.html

www/static/rb_map.html

www/static/data/history-rb.txt

*.pid

extension/terraincognitaBAK.html

extension/terraincognita_DOUBLESVG.html

www/test/952Cities_NEW.csv

www/test/952Cities_NEW_SMALL_REMOVED.csv

www/celery1.pid

www/celery2.pid

www/celery2.pid

www/exportUserHistoryCount.csv

www/static/data/exportUserHistoryCount.csv

analysis/meanCountsByUser_summary.csv

analysis/TerraIncognitaExport_05252014.csv

analysis/meanCountsByUser.csv
.Rproj.user

*.Rproj

analysis/TerraIncognitaExport_06102014.csv

analysis/TerraIncognitaExportClicks_06102014.csv

www/static/data/exportUserClicks.csv

analysis/TerraIncognitaExportClicks.csv

analysis/TerraIncognitaExportClicks_06112014.csv

analysis/TerraIncognitaTotalUsers.csv

www/static/data/totalusers.csv

www/static/data/exportUserGeo.csv

analysis/TerraIncognitaExportGeo_06112014.csv

analysis/userGeographyCounts.csv

analysis/userHHI.csv

analysis/TerraIncognitaExport_06122014.csv

analysis/TerraIncognitaExport_06222014.csv

analysis/TerraIncognitaExport_06223014.csv

analysis/TerraIncognitaExportClicks_06232014.csv

analysis/TerraIncognitaExportGeo_062314.csv

www/server2.py

analysis/TerraIncognitaExport_06232014.csv

analysis/.RData

analysis/.Rhistory

www/static/data/exportpresurvey.csv

analysis/exportpresurvey.csv

*.csv

analysis/Download_ExportCityClicks_07162014,json

analysis/userHistograms.pdf

analysis/userHistograms.png

analysis/images/whypeopleinstalledbutdidntuseTI.png

analysis/userHistograms_web.png

analysis/images/userHistograms_169_web.png

analysis/Download_ExportCityClicks_07172014,json

analysis/Download_ExportCityClicks_07172014.json

analysis/images/cityclicks.png
