[app]
secret_key:
bitly_token:

[db]
host: 
user: 
pass: 
name: terra_incognita
recommendation_item_collection: recommendations
user_collection: users
user_behavior_collection: user_behavior_items
user_city_clicks_collection: user_city_clicks

[geoparser]
geoserver_url:http://localhost:8080/parse

[extractor]
extractor_url:http://localhost:8080/extractor/text