.navbar-inverse {
	background-color: transparent;
}
.navbar-brand{
	color:white;
	font-family: 'Fondamento', cursive;
	font-size: 40px;
}
a.navbar-brand {
	color:#fff !important;
	text-shadow: 2px 2px 10px #555;
}
#city-zoomed{
	position: absolute;
	top: 45px;
	left: 0;
	background: rgba(255,255,255,0.5);
	padding: 5px 10px;
	border: 1px solid #ddd;
	width: 300px;
	text-align: center;
}
#city-zoomed h1{
	color:#444;
	font-family: 'Fondamento', cursive;
	font-size: 40px;
	text-shadow: 2px 2px 2px #999;
	margin-left: 35px;
}
#what-people-read{
	width:375px;
	position: absolute;
	right: 0;
	top: 50px;
}
#what-others-read,#what-you-read{
	
	padding-right: 20px;
	background: rgba(255,255,255,0.5);
	overflow-y: scroll;
	max-height: 280px;
}
#what-you-read{
	margin-top:20px;
}
#go-now{
	
}
th{
	font-size:20px;
	font-family: Fondamento, serif;
}
tr{
	font-size:12px;
	line-height:1.2;
}
.city-stats{
	font-size:12px;line-height:12px;margin-top:20px;
}
.glyphicon-thumbs-up,.glyphicon-thumbs-down{
	padding-right:3px;
	color:#333;
}
.glyphicon-unchosen{
	color:#ccc;
}
.glyphicon-chosen{
	color:#d9534f;
}
#city-selector-tooltip {   
border-left: 1px solid #080808;
border-right: 1px solid #080808;
border-top: 1px solid #080808;
-webkit-border-radius: 10px 10px 0 0;
border-radius: 10px 10px 0 0;
color: #efefef;
padding: 5px 17px;
background: #555;
position: absolute;
bottom: 51px;
left: 0;
font-size: 14px;
z-index: 1000;

}
#go-now{
	position: absolute; left: 50%; top:65%;
}
.btn-go{
	font-family: Fondamento, serif;
}
.submit-recommendation{
	margin-top:20px;
	font-family: Fondamento, serif;
}





/* MAP CLASSES */
.leaflet-control-zoom{
	position:absolute;
	top:55px;
}
.mapbox-control-info-right{
	display: none !important;
}
/* END MAP CLASSES */
/* BOOTSTRAP OVERRIDE */
.btn-danger{
	background-color: #d9534f;
	border-color: #d9534f;
}
/* D3 CLASSES  */
.bar:hover {
  fill: red;
}
svg{
	position:absolute;
	bottom:0;
	left:0;
	background-color:none;
	border-top:1px solid #101010;
}
#svg-extra{
	position:absolute;
	top:0;
	left:0;
	background-color:none;
	/*border-bottom:1px solid #101010;*/
}
/* END D3 CLASSES  */

