<script type="text/javascript" src="../lib/jquery/js/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="../lib/underscore/underscore-1.5.2-min.js"></script>
<script id="city-zoomed-reading-lists" type="text/template">  
        <div id="city-zoomed"><h1><%= city_name %>, <%= country_name %></h1>
        <div style="font-size:12px;line-height:10px;margin-top:20px">
          <p><strong>erhardt</strong>: First Reader</p>
          <p><strong>stempeck</strong>: First Recommender</p>
          
          <p><strong>kanarinka</strong>: Top Scholar of <%= city_name %></p>
          

          <p><strong>ethanz</strong>: Top Recommender of <%= city_name %></p>
          <br/>
          <br/>
          <p><em>Read 4 more articles to be the Top Scholar</em></p>
          <p><em>Recommend 1 more article to be the Top Recommender</em></p>
        </div>
        </div>
        <div id="go-now" style="position: absolute; left: 50%; top:35%;">
              <div style="position: relative; left: -50%;">
                  <a href="http://localhost:5000/go/<%= city_name %> <%= country_name %>"><img src="img/gobutton.png" target="_blank"></a></th>
              </div>
        </div> 
        <div id="what-others-read">
          <table class="table table-condensed">
            <thead>
                  <tr>
                    <th>What Others Are Reading About <%= city_name %></th>
                  </tr>
                </thead>
              <tbody>
                <% if (systemStories) { 
                  systemStories.each(function(story){ %>
                  <tr><td><a href="<%=story.get('url')%>"><%=story.get('title')%></a></td></tr>
              <% });
                } %>
              </tbody>
          </table> 
        </div> 
        <div id="what-you-read">
          <table class="table table-condensed">
            <thead>
                  <tr>
                    <th>What You Read About <%= city_name %></th>
                  </tr>
                </thead>
              <tbody>
                 <% if (userStories) { 
                  userStories.each(function(story){ %>
                  <tr><td><a href="<%=story.get('url')%>"><%=story.get('title')%></a></td></tr>
              <% }); 
                } %>
              </tbody>
          </table>  
        </div>
</script>
<script type="text/javascript">
	sources = $("script[id]").map(function(i, s){

	    return "TEMPLATES['"+ $(s).attr('id') + "']=" + _.template($(s).html()).source
	})
	console.log("TEMPLATES=[];\n"+ sources.get().join("\n"))
</script>