<script type="text/javascript" src="../lib/jquery/js/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="../lib/underscore/underscore-1.5.2-min.js"></script>
<script id="city-selector-template" type="text/template">
  You have read about <%= visitedCityCount %>/1000 cities
</script>
<script id="login-modal-template" type="text/template">
  <div id="login-modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">One-time Login</h4>
        </div>
        <div class="modal-body">
          <p>You are not logged in to Terra Incognita. Please click below to login once and youll be set for awhile after that.</p>
        </div>
        <div class="modal-footer">
          
          <a role="button" class="btn btn-primary" href="<%= loginURL %>">Login Now</a>
        </div>
      </div>
    </div>
  </div>
</script>
<script id="city-zoomed-reading-lists" type="text/template">  
        
        <div id="city-zoomed"><h1><%= city_name %>, <%= country_name %></h1>
        <% if (population != "0") { %>
          <p id="city-zoomed-population" class="city-stats"><%= isCapitalCity ? "Capital city, " : "" %> pop. <%= population %></p>
        <% } %>
          <div id="go-now">
              <a href="<%= serverURL %>go/<%= userID %>/<%= cityID %>?r=<%= isRandomCity %>" role="button" class="btn btn-lg btn-danger btn-go"><%= randomSaying %></a>
              
          </div> 
          <div class="city-stats">            
            <% if (cityStats) { 
              %>
               <div id="top-reader">
                <!--
                
                  <% if (cityStats.get("firstVisitUsername").length ==0) { %>
                      <p><strong>First Reader:</strong> Nobody! You could be the first.</p>
                  <%} else {%>
                      <p> <strong>First Reader:</strong> <%= cityStats.get("firstVisitUsername") %></p>
                  <% } %>

                -->
                <% if (!_.isEmpty(cityStats.get("mostRead")) ) { %>
                  <p><strong>Top Reader of <%= city_name %>:</strong> <%= cityStats.get("mostRead")["username"] %> 
                  <% if (cityStats.get("mostRead")["isCurrentUser"] == "true"){%> - YOU! <% } %>(<%= cityStats.get("mostRead")["count"] %>)
                  </p>
                <% } %>

                <!--<% if (cityStats.get("firstVisitUsername").length !=0 
                        && !_.isEmpty(cityStats.get("mostRead")) 
                        && cityStats.get("mostRead")["isCurrentUser"] != "true" ) 
                  { %>
                  <p><em>Read <%= cityStats.get("mostRead")["count"] - cityStats.get("currentUserStoryCount") + 1 %> more articles to be the Top Reader.</em> </p>
                  <% } %>-->
                  </div>
        
                <div id="top-recommender">
                <!--<% if (cityStats.get("firstRecommendationUsername").length ==0) { %>
                  <p><strong>First Recommender:</strong> Nobody! You could be the first.</p>
                <%} else {%>
                  <p><strong>First Recommender:</strong> <%= cityStats.get("firstRecommendationUsername") %></p>
                <% } %>-->

                

                <% if (!_.isEmpty(cityStats.get("mostRecommendations")) ) { %>
                  <p> <strong>Top Recommender of <%= city_name %> : </strong><%= cityStats.get("mostRecommendations")["username"] %> 
                  <% if (cityStats.get("mostRecommendations")["isCurrentUser"] == "true"){%> - YOU!<% } %></p> (<%= cityStats.get("mostRecommendations")["count"]%>)
                <% } %>
                
                  
                  <!--<% if (cityStats.get("firstRecommendationUsername").length !=0 
                        && !_.isEmpty(cityStats.get("mostRecommendations")) 
                        && cityStats.get("mostRecommendations")["isCurrentUser"] != "true" ) { %>
                      
                      <p><em>Recommend <%= cityStats.get("mostRecommendations")["count"] - cityStats.get("currentUserRecommendationCount") + 1 %> more articles to be the Top Recommender.</em></p>-->
                     
                  <% } %>
                </div>
            <% } %>


            <!--<img src="../img/hr.png">-->
            <div id="what-people-read">
              <% if (systemStories && systemStories.size() > 0) { %>
              <div id="what-others-read">
                <table class="table table-condensed">
                  <thead>
                        <tr>
                          <th>5 Things to Read About <%= city_name %> (<%=systemStories.size()%>)</th>
                        </tr>
                      </thead>
                    <tbody>

                    
                      <% if (systemStories) { 
                        var count = 0;
                        systemStories.each(function(story){ 
                          

                        rec = story.get('recommended');
                            hasBeenReviewed = (rec != null);
                            isThumbsUp = false;
                            if (hasBeenReviewed){
                              if (rec == 1){
                                isThumbsUp = true;
                              } else{
                                isThumbsUp = false;
                              }
                            }
                            if (count<5){
                          %>
                        <tr><td><% if (isThumbsUp) {%><span class="glyphicon glyphicon-thumbs-up"></span><%}%><a class="system-story" href="<%=story.get('url')%>"><%=story.get('title') == "" ? story.get('url').slice(0,40) + "..." : story.get('title') %></a></td></tr>
                    <% }
                        count++;

                      });
                      } %>
                    </tbody>
                </table> 
              </div> 
              <% } %>

              <% if (userStories && userStories.size() > 0) { %>
              <div id="what-you-read">
                <table class="table table-condensed">
                  <thead>
                        <tr>
                          <th>What You Read About <%= city_name %> (<%=userStories.size()%>)</th>
                        </tr>
                      </thead>
                    <tbody>
                       <% if (userStories) { 
                        userStories.each(function(story){ 
                            rec = story.get('recommended');
                            hasBeenReviewed = (rec != null);
                            if (hasBeenReviewed){
                              if (rec == 1){
                                isThumbsUp = true;
                              } else{
                                isThumbsUp = false;
                              }
                            }
                          %>
                        <tr><td><a href="<%=story.get('url')%>" title="I recommend this!"><span class="glyphicon glyphicon-thumbs-up <%= hasBeenReviewed ? ( isThumbsUp ? 'glyphicon-chosen' : 'glyphicon-unchosen') : '' %>"></span></a> <a href="<%=story.get('url')%>" title="I do not recommend this!"><span class="glyphicon glyphicon-thumbs-down <%= hasBeenReviewed ? ( isThumbsUp ? 'glyphicon-unchosen' : 'glyphicon-chosen') : '' %> " style="padding-right:10px"></span></a> <a class="user-story" href="<%=story.get('url')%>"><%=story.get('title') == "" ? story.get('url').slice(0,40) + "..." : story.get('title') %></a></td></tr>
                    <% }); 
                      } %>
                    </tbody>
                </table>  
              </div>
              <% } %>
              </div>
              <!--
            <h4 class="submit-recommendation">Submit a recommendation about <%= city_name %></h4>
            <form class="form-inline" role="form" style="margin-bottom:20px">
              <div class="form-group">
                <input style="min-width:200px" type="url" class="form-control" id="url_recommendation" placeholder="http://www.<%= randomWord %>.com">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>-->
          </div>
        


        </div>
        
        
</script>
<script type="text/javascript">
	sources = $("script[id]").map(function(i, s){

	    return "TEMPLATES['"+ $(s).attr('id') + "']=" + _.template($(s).html()).source
	})
	console.log("TEMPLATES=[];\n"+ sources.get().join("\n"))
</script>